<?php
/**
 * Содержимое веб-компонента "{{ name|capitalize }}".
 *
 * Элемент содержит пример пагинации.
 *
 * В данном случае свёрстан пример с кнопкой для продолжения пагинации.
 * Если необходимо, чтобы пагинация продолжалась автоматически, необходимо
 * убрать элемент с классом `paste__click paginator__click` и в самый низ
 * вставить элемент: <div class="event-scroll"></div>.
 */
?>

<?= $this->element('webcomp/ajax/{{ name|lower }}') ?>

<div class="paste__click paginator__click">
    <!-- Здесь может быть кнопка. -->
</div>

<div class="paste__trubber">
    <!-- Трубер. -->
</div>
